@import 'util/mixins';
@import 'settings';

.button {
    font-family: $header-font-family;
    font-weight: $global-weight-bold;

    &.primary {
        //background: $primary-color;
        background: 5% 5% linear-gradient(120deg, $secondary-color 20%, scale-color($secondary-color, $hue: +10%) 50%, $primary-color 100%);
        background-size: 110% 500%;
        box-shadow: 0 0.5rem 1rem rgba($primary-color, 0.1);

        &:hover,
        &:focus {
            //background: linear-gradient(120deg, adjust_color($secondary-color, $lightness: -10%) 10%, adjust_color($secondary-color, $hue: -10, $lightness: -10%) 90%);
            background-position: 5% 95%;
            box-shadow: 0 0.5rem 1rem rgba($primary-color, 0.2);
        }
    }

    &.secondary {
        background: $secondary-color;
        box-shadow: 0 0.5rem 1rem rgba($secondary-color, 0.1);
        color: $white;

        &:hover,
        &:focus {
            color: $white;
        }
    }

    &.hollow {
        &:hover,
        &:focus {
            background: $light-gray;
        }
    }
}