@import 'util/mixins';
@import 'settings';

html {
    height: 100%;
}

body {
    height: 100%;
    background: #EDE7F6;
    padding: 1rem;

    .body-wrapper {
        min-height: 100%;
        padding: 1.5rem 1rem;
        margin-bottom: 1rem;
        background: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 0.25rem 0.75rem rgba(#000, 0.05);
    }
}